[init]
	templatedir = /Applications/SourceTree.app/Contents/Resources/git_local/share/git-core/templates
[user]
	name = Jochen Weis
	email = jochen@whitefrog.de
[core]
	excludesfile = /Users/jochen/.gitignore_global
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[push]
	default = simple
[filter "media"]
	clean = git-media-clean %f
	smudge = git-media-smudge %f
[diff]
	tool = diffmerge
[difftool]
	prompt = false
